.about_me {
	min-height: 75vh;
    justify-content: space-around;
    gap: 50px;
    margin: 20px auto;
    background: var(--background);

    &_text {
        margin: 0 auto;
        font-size: 18px;
        line-height: 1.3;
        text-align: left;
        max-width: 680px;

        &:last-of-type {
            margin-bottom: 30px;
        }
    }
}

.personal_info {
    padding: 20px;
    max-width: 400px;
}

.skills_header {
    margin: 0 0 10px 30px;
}

.hard_skills,
.soft_skills {
    min-width: 200px;
    // min-height: 300px;
    background: #1dccb5;
    border: 1px solid rgb(209, 15, 145);
    box-shadow: 13px 10px 23px -5px rgba(0, 0, 0, 0.75);
    // border-radius: 10px;
    text-align: left;
    list-style-type: square;
    padding: 10px 0 10px 35px;
}

.hard_skills__item,
.soft_skills__item {
    margin-bottom: 5px;
}


.contact_info {
    &__item {
        margin-bottom: 25px;

        &-theme-1 {
            color: var(--theme-1);
        }

        &-theme-2 {
            color: var(--theme-2);
        }

        &-theme-3 {
            color: var(--theme-3);
        }

        &-theme-4 {
            color: var(--theme-4);
        }

        &-theme-5 {
            color: var(--theme-5);
        }
    }

    &__city {
        font-size: 20px;
    }

    &__messengers {
        font-size: 20px;
    }

    &__email {
        font-size: 20px;
    }
}