.about {
  background-color: #cbe9d6;
  border-radius: 20px;
  // justify-content: space-between;
  align-items: center;
}

.user_photo {
  margin: 30px;
  width: 300px;
  border-radius: 10px;
}

.about_me {
  padding: 30px;
}
