.contacts_menu {
	position: absolute;
	left: 70px;
	bottom: 130px;
	text-align-last: left;
	border: 4px solid transparent;
	// background: linear-gradient(crimson, gold, yellowgreen, teal, crimson);
	// animation: background 3s infinite alternate;

	// &_info {
	// 	padding: 5px 45px;
	// 	background: linear-gradient(30deg, rgb(122, 238, 151, 0.5), rgba(85, 168, 194, 0.8));
	// 	box-shadow: 13px 10px 23px -5px rgba(0, 0, 0, 0.75);
	// }

	&_field {
		padding: 20px 50px;
		background: linear-gradient(30deg, rgb(122, 238, 151, 0.9), rgba(85, 168, 194, 0.9));
		box-shadow: 13px 10px 23px -5px rgba(0, 0, 0, 0.75);
		border-radius: 4px;
	}

	&__item {
		align-items: center;
		margin-bottom: 18px;

		&_sign {

			&:last-of-type {
				margin-right: 20px;
			}

			&:not(:first-child) {
				margin-left: -25px;
			}
		}
	}

	&_button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 12px;
		border-radius: 50px;
		background: var(--accent);
		// background: transparent;
		cursor: pointer;

		&-text {
			font-family: inherit;
			font-size: 18px;
			margin: 0 20px;
		}

		&-image {
			scale: 0.5;
		}
	}
}

@keyframes background {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 200px;
	}
}