.photo_container {
  // position: absolute;
  // top: 25px;
  // left: 25px;
  width: 0;
  height: 100%;
  overflow: hidden;
  // border-radius: 5px;
  transition: width 1.5s ease;
}

.animate_photo {
  width: 300px; /* Целевая ширина изображения */  
}
