.sidebar_nav {
    position: fixed;
    top: 120px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    z-index: 99;

    &__link {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 16px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: none;
        background-color: var(--accent);
        // background-color: antiquewhite;
        cursor: pointer;

        &:hover .sidebar_nav__link-text {
            opacity: 1;
            right: 0;
            transform: translateX(-30px);
            width: 120px;
        }

        &-text {
            opacity: 0;
            position: absolute;
            // background-color: antiquewhite;
            right: -20px;
            padding: 16px 15px;
            border-radius: 50px;
            transition: opacity 0.4s linear, transform 0.4s linear;
        }

        &-image {
            position: absolute;
            right: 0;
            width: 32px;
            margin-right: 10px;
        }

        &-theme-1 {
            color: var(--theme-1);
        }

        &-theme-2 {
            color: var(--theme-2);
        }

        &-theme-3 {
            color: var(--theme-3);
        }

        &-theme-4 {
            color: var(--theme-4);
        }

        &-theme-5 {
            color: var(--theme-5);
        }
    }
}