.skills {
  background-color: #cbe9d6;

  &_header {
    margin: 15px auto;
  }

  &_info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__item {
    max-width: 50px;
    margin: 10px;
    transition: 0.4s;

    &:hover {
      transform: scale(1.2);
    }
  }
}