.skills {
  background-image: linear-gradient(90deg, rgb(37, 125, 134), #29d663);

  &-theme-1 {
    color: var(--theme-1);
  }

  &-theme-2 {
    color: var(--theme-2);
  }

  &-theme-3 {
    color: var(--theme-3);
  }

  &-theme-4 {
    color: var(--theme-4);
  }

  &-theme-5 {
    color: var(--theme-5);
  }

  // &_info {
  //   display: flex;
  //   flex-wrap: wrap;
  //   align-items: center;
  //   justify-content: center;
  // }

  &__item {
    display: inline-block;
    max-width: 50px;
    margin: 10px;
    transition: all 0.3s linear;
    // box-shadow: #6E7849 0px 0px 19px;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}