@import "./blocks/navbar.scss";
@import "./blocks/header.scss";
@import "./blocks/myphoto.scss";
@import "./blocks/skills.scss";
@import "./blocks/projects.scss";
@import "./blocks/about_me.scss";
@import "./blocks/footer.scss";
@import "./blocks/button.scss";
@import "./blocks/themes.scss";

:root {
  /* Colors */
  --blackpure: #000;
  --black: #171718;
  --black-border: #26292d;
  --green: rgb(17, 39, 21);
  --white: #fff;
  --purple: #5c62ec;

  /* Nav */
  --nav-bg: var(--black);
  --nav-border: var(--black-border);
  --nav-text: var(--white);

  /* Header */
  --header-bg: var(--green); //////// Pick the color!
  --header-text: var(--white);

  /* Footer */
  --footer-bg: var(--black);
  --footer-text: var(--white);

  /* Light mode */
  --page-bg: var(--white);
  --text-color: var(--black);
  --accent: var(--purple);
  --title-1: var(--accent);

  --project-card-bg: var(--white);
  --project-card-text: var(--black);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);

  /* Themes */
  --theme-1: #961313;
  --theme-2: #d8db1b;
  --theme-3: #53c412;
  --theme-4: #204ea3;
  --theme-5: #ce49bc;
}

.dark {
  /* Dark mode */
  --page-bg: #252526;
  --text-color: var(--white);
  --title-1: var(--white);
  --project-card-bg: var(--black);
  --project-card-text: var(--white);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

html,
body {
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.5px;

  /* Light mode */
  background-color: var(--page-bg);
  color: var(--text-color);
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  // min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  // font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
}

/* General */

h1 {
  // font-size: 3em;
}

.section {
  background: 10%;
  padding: 10px;
  background-image: linear-gradient(90deg, rgb(37, 125, 134), #29d663);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.title-1 {
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--title-1);
  text-align: center;
}

.title-2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
}