@import "./blocks/navbar.scss";
@import "./blocks/colorthemetoggler.scss";
@import "./blocks/header.scss";
@import "./blocks/myphoto.scss";
@import "./blocks/contact_info.scss";
@import "./blocks/sidebar.scss";
@import "./blocks/portfolio.scss";
@import "./blocks/about_me.scss";
@import "./blocks/contact_me.scss";
@import "./blocks/button.scss";
@import "./blocks/skills.scss";
@import "./blocks/footer.scss";

:root {
  /* Colors */
  --green: rgb(73, 189, 224);
  --white: #fff;
  --purple: #5c62ec;
  --background: #7ec5ae;

  --nav-bg: var(--green);
  --nav-text: var(--white);

  --header-bg: var(--background);
  --header-text: var(--white);

  --projects-bg: var(--background);

  --about-me: var(--background);

  --contact: var(--background);

  --footer-bg: var(--green);
  --footer-text: var(--white);

  /* Light mode */
  --page-bg: var(--white);
  --text-color: var(--black);
  --accent: var(--purple);
  --title-1: var(--accent);

  --project-card-bg: var(--white);
  --project-card-text: var(--black);
  --box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);

  /* Themes */
  --theme-1: #961313;
  --theme-2: #d8db1b;
  --theme-3: #53c412;
  --theme-4: #204ea3;
  --theme-5: #ce49bc;
}

.dark {
  /* Dark mode */
  --page-bg: #252526;
  --text-color: var(--white);
  --title-1: var(--white);
  --project-card-bg: var(--black);
  --project-card-text: var(--white);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

body {
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* Light mode */
  background-color: var(--page-bg);
  color: var(--text-color);
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  // font-size: inherit;
  font-weight: inherit;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
}

/* General */

h1 {
  // font-size: 3em;
}

.section {
  padding: 10px;
  background-image: linear-gradient(90deg, rgb(153, 197, 202), #43a050);
}

.container {
  // max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.title-1 {
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--title-1);
  text-align: center;
}

.title-2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
}